body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

.site-wrapper {
    background-color: #849d8f;
    background-image: url("/img/morozki1.png");
    background-position: top center;
    background-repeat: no-repeat;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
    background-image: url("img/slider-item3.png");
}
.inner-page {
    background: #849d8f;
}

/* ОБщие свойства*/
a {
    text-decoration: none;
}

.field {
    padding-left: 14px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
        
    background-color: #ffffff;
    border: 1px solid rgba(178,178,178,0.52);
}

.field:hover {
    border: 2px solid rgba(178,178,178,0.52);
}
.field:focus {
    border: 2px solid rgba(46,136,228,0.52);
}

.btn {
    display: inline-block;
    padding: 10px 22px;
    
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    white-space: nowrap;
    text-align: center;
    vertical-align: top;
    
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    
    border-radius: 50px;  
    box-shadow: 0 2px 2px rgba(172,16,0,0.64);
    background-color: #ef6140;
    background: linear-gradient(to top, #e74a35, #f26843);
    border: none;

    cursor: pointer;    
}

.btn:hover,
.btn:focus {
    background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn:active {
    background: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px rgb(148,39,24);
}

img {
  max-width: 100%;
  height: auto;
}

.invisible:not(:focus):not(:active),
input[type="checkbox"].invisible,
input[type="radio"].invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ОБщие свойства-конец*/

/*Шапка*/
.main-header {
    margin-bottom: 274px;
    padding-top: 9px;
    color: #ffffff;
}

.main-nav { 
    display: flex;
    justify-content: space-between;   
    position: relative;
}

.container {
    position: relative;
    
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-logo {
    margin-right: 10px;
    width: 154px;
    height: 64px;     
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    
    width: 406px;
    margin: 0;
    padding: 0;  
    
    list-style: none;
}

.main-nav a:not(.main-logo) { /*Всем ссылкам меню*/
    display: inline-block;
    margin-top: 14px;
    
    text-align: center;
    vertical-align: top;
    color: #ffffff;
}

.site-nav > li > a {
    padding: 6.5px 14px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;  
}

.site-nav > li > a::after {
    content: "";
    position: relative;
    display: block;
    height: 1px;
    background-color: rgba(255,255,255,.2);
}

.site-nav > li > a:hover,
.site-nav > li > a:focus {
    color: #333333;
    
    border-radius: 18px;
    background-color: #f7f6f3;
}

.site-nav > li > a:active {
    border-radius: 18px;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px rgba(105, 105, 105, 0);
}

/***************************************************************************/
 
.main-dropdown {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    
    font: inherit;
    color: #333333;
    font-size: 14px;
    font-weight: 400px;
    line-height: 16px;
    
    list-style: none;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.main-dropdown a {
    margin: 0;
    padding: 0;
    display: block;
    font: inherit;
    color: #333333;
}

.main-dropdown a:hover {
    background-color: #fbded7;
}

.main-dropdown a:active {
    background-color: #f6b5a5;
}

.main-dropdown .special {
    font-weight: bold;
}

/***************************************************************************/

.user-block {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    margin-left: auto;
    padding: 0;
    min-width: 267px;
}

.user-nav {
    position: relative;
    margin: 0;
    padding: 0;
        
    list-style: none;    
}

.search form {
    position: absolute;
    display: none;
}


.search a {
    width: 32px;
    height: 32px;    
}

.user-nav a {
    margin-left: 10px;
    padding: 8px 16px 8px 43px;    
}

.cart {
    margin: 0;
    padding: 0;
}

.cart a {
    margin-left: 10px;
    padding: 8px 34px 8px 45px;    
}
/***************************************************************************/
.cart a:hover {
    
}

.cart-full a {
    padding: 8px 17px 8px 42px;  
}

.inner-page .table-box {
    display: none;
}
/***************************************************************************/

.search a,
.user-nav a,
.cart a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    
    background-color: #a1b4a9;
    border-radius: 18px;
}

.search a:hover,
.search a:focus,
.user-nav a:hover,
.user-nav a:focus,
.cart a:hover,
.cart a:focus {
    color: #333333;
    
    background-color: #f8f7f4;
}
/***************************************************************************/
.user-block form {
    display: none;
    position: absolute;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.login-btn {
    text-align: right;
}

.reg-links a{
    font: inherit;
    font-size: 13px;
    line-height: 24px;
    color: #323232; 
    background-color: transparent;
    
    text-decoration: underline;
}
/***************************************************************************/
.customer-info {
    position: absolute;
    right: 27px;
    padding: 0;
        
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}
.customer-info .schedule {
    margin: 0;
    padding: 0;
}
.customer-info .phone-number {
    margin-top: 5px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 800;
}

/*Шапка-Конец*/

/*Слайдер*/
.slider {
    position: relative;
    
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slide {
    display: none;
}

.slide h3 {
    width: 703px;
    margin: 0 auto;
    margin-bottom: 27px;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide-btn {
    padding: 12px 44px;

    font-size: 32px;
    line-height: 44px;
    
    vertical-align: top;
  
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    border-radius: 50px;
}
    
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
    
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
    background-image: url(/img/morozki1.png);
    background-color: #849d8f;
}

#product-2:checked ~ .site-wrapper {
    background-image: url(/img/morozki2.png);
    background-color: #8996a6;
}

#product-3:checked ~ .site-wrapper {
    background-image: url(/img/morozki3.png);
    background-color: #9d8b84;
}

}
.slide-btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-control {
    position: absolute;
    left: 0;
    bottom: 22px;
    z-index: 20px;
    
    font-size: 0;
}

.slider-control label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

/*Слайдер-Конец*/

/*Акции*/

.index-columns {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.promotion-block {
    position: relative;
    
    width: 560px;
    min-height: 230px;
    
    border-radius: 19px;
}

.promotion-block-left {
    background-color: #be3256;
    background-image: url("/img/ras-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.promotion-block-right {
    background-color: #451700;
    background-image: url("/img/choko-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.promotions h3 {
    margin: 0;
    padding: 16px 18px;
    
    font-size: 35px;
    line-height: 41px;
}
.promotions p {
    margin: 0;
    padding: 0 30px 0 19px;
    font-size: 18px;
    font-weight: 700;
}

.promotion-btn {
    position: absolute;
    right: 22px;
    bottom: 25px;
}

/*Акции-Конец*/

/*Хиты продаж*/

.bestsellers {
    margin-bottom: 40px;
}

.bestseller-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.bestseller-item h3 {
    order: 1;
    margin: 10px;    
        
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.bestseller-item {
    width: 267px;
    height: 405px;
    position: relative;
}

.bestseller-img-wrapper::before {
    content: "";
    
    position: absolute;
    top: 10px;
    width: 61px;
    height: 61px;
    background-image: url("/img/hit.svg");
}

.bestseller-photo {
    
    margin-top: 7px;
    border-radius: 50%;
}

.bestseller-item a:not(.btn) {
    display: flex;
    flex-direction: column;
    text-decoration: underline; /* как сделать подчеркивание?*/
    align-items: center;
    color: #ffffff;
}


.bestseller-item-price {
    position: absolute;
    
    margin: 0;
    top: 218px;       
        
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.bestseller-item-price span {
    font-size: 30px;
}


.bestseller-item .bestseller-btn {
    display: none;
    
    position: absolute;
    left: 50%;
    margin-bottom: 22px;
    
    transform: translate(-50%);
}

/*фон накладывается на картинку, как поместить его на задний фон? через z-index не получилось*/

.bestseller-item:hover::after { 
    content: "";
      
    display: block;
    position: absolute;
    top: 0;
    left: -13px;
    width: 293px;
    height: 405px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
    
    cursor: pointer;
}

.bestseller-item:hover .bestseller-btn {
    display: inline-block; 
    vertical-align: top;
}


/*Хиты продаж-Конец*/

/*Преимущества*/

.features {
    margin: 0;   
    margin-top: -75px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 20px;
    padding-right: 35px;
    
    color: #323232;
    
    background-color: #ecdfc4;
    background-image: url("/img/waffle-background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
}

.features h2 {
    line-height: 30px;
    font-weight: 500;
    padding-top: 26px;
    
}

.features-list {
    position: relative;
    
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.features-list li {
    display: inline-block;
    margin-right: 30px;
    
    padding-left: 56px;
    width: 480px;
    min-height: 90px;
}

.features-list li:first-child::before {
    content: "";
    
    position: absolute;
    top: -13px;
    left: 0;  
    
    width: 49px;
    height: 49px;
    
     
    background-color: transparent;
    background-image: url("/img/icecream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list li:nth-child(2)::before {
    content: "";
    
    position: absolute;
    top: 75px;
    left: 0;  
    
    width: 49px;
    height: 49px;
    
     
    background-color: transparent;
    background-image: url("/img/leaf.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list li:nth-child(3)::before {
    content: "";
    
    position: absolute;
    top: -13px;
    right: 476px;  
    
    width: 49px;
    height: 49px;
    
     
    background-color: transparent;
    background-image: url("/img/cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list li:last-child::before {
    content: "";
    
    position: absolute;
    top: 75px;
    right: 476px;  
    
    width: 49px;
    height: 49px;
    
     
    background-color: transparent;
    background-image: url("/img/thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
/*Преимущества-Конец*/

/*Блог*/

.blog-preview {
    width: 280px;
    min-height: 170px;
        
    padding: 25px 260px 25px 20px;
    
    /*Здесь буквы наежают на клубничку фона. не знаю как решить проблему, не используя br*/
    color: #323232;
    
    background-color: #ffffff;
    background-image: url("/img/straw-background.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.blog-preview h2 {
    font-size: inherit;
    font-weight: 500;
    
    margin: 0;
    margin-bottom: 5px;
}

.blog-preview a {
    padding-top: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
        
    color: #323232;
    text-decoration: underline;
}

/*Блог-Конец*/

/*Подписка*/

.subscribe {
    width: 550px;
    min-height: 210px;
    
    padding: 5px;
    
    color: #5a5a5a;
    
    background-color: #f8f7f4;
    background-image: url("/img/post-background.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.subscribe-wrapper {
    position: relative;
    min-height: 150px;
    
    
    background-color: #f8f7f4;
    border-radius: 15px;
    
    padding: 30px 20px;
}

.subscribe-wrapper p {
    margin: 0;
    
}

.subscribe [type="email"] {
    width: 352px;
    height: 40px;
    
    font-size: 16px;
}

.subscribe-wrapper .subscribe-form {
    position: absolute;
    bottom: 35px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
}

.subscribe-wrapper .subscribe-btn {
    padding: 10px 16px;
}

/*Подписка-Конец*/

/*Карта*/
.map {
    margin-top: 40px;
    width: 100%;    
}

.map .container {
    position: relative;
    
    display: flex;
    justify-content: flex-end;
    height: 430px;
    
    background-image: url("/img/map.jpg");
    background-color: #ffffff;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.map-text-block {
    position: absolute;
    top: 65px;
    right: 25px;
        
    width: 252px;
    padding: 26px 26px 29px;   
    
    
    color: #323232;
    border-radius: 15px;
    background-color: #fefefe;
}
.map-text {
    margin: 0;
    margin-bottom: 16px;
}

.map-text span {
    display: inline-block;
    
    vertical-align: top;
   
    font-size: 14px;
    line-height: 20px;
}

.map-text b {
    display: inline-block;
    
    font-size: 18px;
    line-height: 24px;
}

.map-text:first-of-type span{
    padding-right: 100px;    
}

.map-text:nth-of-type(2) b {
    margin-top: 5px;
}

.map-text:nth-of-type(2) {
    margin-bottom: 24px;
}
.map-text-block .feedback-btn {
    display: block;  
}

/*Карта-Конец*/

/**********************Карточка товара**********************/

.inner-page .main-header {
    margin-bottom: 26px;
    padding-top: 9px;
}

.current-dropdown-item {
    background-color: #d07058;
}

.cart-full {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-full a {
    color: #323232;
}

.table-box {
    width: 540px;
    margin-right: 0;
    
    color: #323232;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.cart-table {
    font-size: 13px;
    line-height: 16px;
}

.cart-table a {
    font-size: 13px;
    line-height: 16px;

    background-color: transparent;
}

.paletext {
    color: #999999;
}

.cart-total-price {
    font-size: 15px;
    line-height: 18px;
}

/*Хлебные крошки*/


.breadcrumbs {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 220px;
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    
    color: #ffffff;
    
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs a {
    color: #ffffff;
    
    text-decoration: underline;
}

/*Хлебные крошки - Конец*/

.page-title {
    margin: 0;      
    padding: 0;
    margin-bottom: 5px;
    
    font-size: 35px;
    line-height: 41px;
}

/*Фильтры*/

.filters {
    width: 860px;
    margin-bottom: 25px;
}

.filters-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-category {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}


.filters fieldset {
    border: none;
}

.filter-category legend {
    padding: 18px 15px 5px;     
}

.filter-category .filter-box {
    margin: 0;
        
    list-style: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    
    background-color: #9db1a5;
    border-radius: 18px;
}

/*Сортировка*/

.filter-category select {
    height: 36px;
    padding: 0 35px 0 15px;
    
    font-size: 16px;
    line-height: 18px;
    
    background-image: url("/img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 170px 50%;
    
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

/*Цена*/

.filter-category .filter-box-price {
    position: relative;
    padding: 16px 18px;
}

.scale {
    margin: 0;
    width: 178px;
    height: 4px;
    background: rgba(255,255,255,.3);
}

.scale-middle {
    margin: 0;
    height: 4px;
    margin-right: 60px;
    margin-left: 30px;
    background: #ffffff;
}

.scale::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 33px;
    width: 22px;
    height: 22px;
    
    background-color: #ffffff;
    background-image: url("/img/filter-button.svg");
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
}
  
.scale::after {
    content: "";
    
    position: absolute;
    top: 50%;
    right: 62px;
    width: 22px;
    height: 22px;
    
    background-color: #ffffff;
    background-image: url("/img/filter-button.svg");
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
}    
    
/*Жирность*/

.filter-category .filter-box-fat {
    width: 385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    
    margin: 0;
    padding: 0 18px 0 15px;
}

.filter-box li {
    position: relative;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label::before {
    content: "";
    
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 0;
        
    background-image: url(/img/radio-off.svg);    
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
}

input[type="radio"]:checked + label::after {
    content: "";
    
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 0;
        
    background-image: url(/img/radio-on.svg);    
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
}

.filter-box label {
    padding-left: 35px;
}

/*Наполнители*/

.filter-category .filter-box-topping {
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    
    margin: 0;
    padding: 0 18px 0 15px;
}

input[type="checkbox"]+label::before {
    content: "";
    
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
        
    background-image: url(/img/checkbox-off.svg);    
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
}

input[type="checkbox"]:checked + label::after {
    content: "";
    
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
        
    background-image: url(/img/checkbox-on.svg);    
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
}


.filter-category select:hover,
.filter-category select:focus {
    color: #333333;
    
    background-color: #ffffff;
}

.filter-box .select-option {
    font-size: 14px;
    line-height: 16px;
}

.filter-btn {
    display: block;
    height: 36px;
    margin-left: auto;
    margin-top: auto;
    padding: 0 30px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
     
    background-color: #9db1a5;
    border: 2px solid #ffffff;
    border-radius: 18px;
}
.filter-btn:hover,
.filter-btn:focus {
    color: #323232;
    
    background-color: #ffffff;
}    

.filter-btn:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
}

/*Фильтры - Конец*/

/*Каталог*/

.catalog {
    margin: 0;
    padding: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    
    list-style: none;
}

.catalog-item {
    width: 286.5px;
    margin: 0;
    padding: 0;   
}  

.catalog-item h3 {
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.catalog-item a {
    text-decoration: underline;
    color: #ffffff;
}
    
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
    color: #ffbc9e;
}

.catalog-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.catalog-item-price span {
    font-size: 30px;
}

.catalog-item-wrapper:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
}

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 190px;
    margin: 30px 0 35px auto;
    padding: 0; 
    
    list-style: none;
}
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.pagination-list a {
    color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: #ffffff;
    
    background-color: #9db1a5;    
}

.pagination-list a:active,
.pagination-item-current {
    color: #323232;
    
    background-color: #ffffff;
}

/*Каталог-Конец*/

/*Футер*/

.main-footer { 
    margin-top: 20px;
     
    color: #ffffff;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 185px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    
    list-style: none;
}


.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
      
    box-shadow: 
        0 0 0 3px rgba(255,255,255,0.6),
        inset 0 0 0 1px rgba(255,255,255,0.6);
    
    background-color: #c2cec7;
    border-radius: 50%;
    opacity: 0.8;
}


.social-btn:hover,
.social-btn:focus {
    box-shadow: 
        0 0 0 4px rgba(255,255,255,0.7), 
        inset 0 0 0 1px rgba(255,255,255,0.6);
    opacity: 1;
}

.social-btn:active {
    opacity: 0.8;
    box-shadow: 
        0 0 0 3px rgba(194,206,199,0.5),
        inset 0 2px 1px rgb(136,136,136);
}

.supplier-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    position: relative;
    
    height: 45px;
    width: 305px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 20px;
       
    list-style: none;   
}

.supplier-info a {
    display: inline-block;
    
    margin-right: 35px;
    
    vertical-align: top;
}

.supplier-info a,
.footer-copyright a {
    font-size: 13px;
    line-height: 18px;
    
    color: #ffffff;
    text-decoration: underline;
}

.supplier-info li:first-child {
    font-weight: 700;
}

.supplier-info li:first-child::before {
    content: "";
    
    position: absolute;
    top: 15px;
    left: 0;
    width: 20px;
    height: 20px;
    
    background-image: url("/img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-copyright {
    display: inline-block;
    margin: 0;
    margin-bottom: 26px;
    padding: 0
    width: 200px;
    
    vertical-align: top;

    font-size: 12px;
    line-height: 16px;
}

.footer-copyright p {
    margin: 0;
}

/*Футер-Конец*/

/* Форма обратной связи*/
.modal-feedback {
    display: none;
    width: 478px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999999;

    background-color: #f8f7f4;  
}

.modal-feedback h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
}

.modal-feedback input,
.modal-feedback textarea {
    font-size: 16px;   
}

