body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

.site-wrapper {
    background-color: #849d8f;
    background-image: url("/img/morozki1.png");
    background-position: top center;
    background-repeat: no-repeat;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
    background-image: url("img/slider-item3.png");
}
.inner-page {
    background: #849d8f;
}

/* ОБщие свойства*/
a {
    text-decoration: none;
}

.field {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
        
    background-color: #ffffff;
    border: 1px solid rgba(178,178,178,0.52);
}

.field:hover {
    border: 2px solid rgba(178,178,178,0.52);
}
.field:focus {
    border: 2px solid rgba(46,136,228,0.52);
}

.btn {
    display: inline-block;
    padding: 11px 21px;
    
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    text-align: center;
    vertical-align: middle;
    
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    
    border-radius: 50px;  
    box-shadow: 0 2px 2px rgba(172,16,0,0.64);
    background-color: #ef6140;
    background: linear-gradient(to top, #e74a35, #f26843);
    border: none;

    cursor: pointer;    
}

.btn:hover,
.btn:focus {
    background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn:active {
    background: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px rgb(148,39,24);
}

img {
  max-width: 100%;
  height: auto;
}

.invisible:not(:focus):not(:active),
input[type="checkbox"].invisible,
input[type="radio"].invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ОБщие свойства-конец*/

/*Шапка*/
.main-header {
    margin-bottom: 275px;
    padding-top: 9px;
    color: #ffffff;
}

.main-nav { 
    display: flex;
    justify-content: space-between;    
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-logo {
    margin-right: 10px;
    width: 154px;
    height: 64px;     
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    
    width: 406px;
    margin: 0;
    padding: 0;  
    
    list-style: none;
}

.main-nav a:not(.main-logo) { /*Всем ссылкам меню*/
    display: inline-block;
    margin-top: 14px;
    
    text-align: center;
    color: #ffffff;
}

.site-nav > li > a {
    padding: 6.5px 14px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;  
}

.site-nav > li > a::after {
    content: "";
    position: relative;
    display: block;
    height: 1px;
    background-color: rgba(255,255,255,.2);
}

.site-nav > li > a:hover,
.site-nav > li > a:focus {
    color: #333333;
    
    border-radius: 18px;
    background-color: #f7f6f3;
}

.site-nav > li > a:active {
    border-radius: 18px;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px rgba(105, 105, 105, 0);
}

/***************************************************************************/
 
.main-dropdown {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    
    font: inherit;
    color: #333333;
    font-size: 14px;
    font-weight: 400px;
    line-height: 16px;
    
    list-style: none;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.main-dropdown a {
    margin: 0;
    padding: 0;
    display: block;
    font: inherit;
    color: #333333;
}

.main-dropdown a:hover {
    background-color: #fbded7;
}

.main-dropdown a:active {
    background-color: #f6b5a5;
}

.main-dropdown .special {
    font-weight: bold;
}

/***************************************************************************/

.user-block {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    margin-left: auto;
    padding: 0;
    min-width: 267px;
}

.user-nav {
    position: relative;
    margin: 0;
    padding: 0;
        
    list-style: none;    
}

.search form {
    position: absolute;
    display: none;
}


.search a {
    width: 32px;
    height: 32px;    
}

.user-nav a {
    margin-left: 10px;
    padding: 8px 16px 8px 43px;    
}

.cart {
    margin: 0;
    padding: 0;
}

.cart a {
    margin-left: 10px;
    padding: 8px 34px 8px 45px;    
}
/***************************************************************************/
.cart a:hover {
    
}
/***************************************************************************/

.search a,
.user-nav a,
.cart a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    
    background-color: #a1b4a9;
    border-radius: 18px;
}

.search a:hover,
.search a:focus,
.user-nav a:hover,
.user-nav a:focus,
.cart a:hover,
.cart a:focus {
    color: #333333;
    
    background-color: #f8f7f4;
}
/***************************************************************************/
.user-block form {
    display: none;
    position: absolute;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.login-btn {
    text-align: right;
}

.reg-links a{
    font: inherit;
    font-size: 13px;
    line-height: 24px;
    color: #323232; 
    background-color: transparent;
    
    text-decoration: underline;
}
/***************************************************************************/
.customer-info {
    margin-left: auto;
    padding: 0;
        
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}
.customer-info .schedule {
    margin: 0;
    padding: 0;
}
.customer-info .phone-number {
    margin-top: 5px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 800;
}

/*Шапка-Конец*/

/*Слайдер*/
.slider {
    position: relative;
    
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slide {
    display: none;
}

.slide h3 {
    width: 703px;
    margin: 0 auto;
    margin-bottom: 27px;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide-btn {
    padding: 12px 44px;

    font-size: 32px;
    line-height: 44px;
    
    vertical-align: top;
  
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    border-radius: 50px;
}
    
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
    
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
    background-image: url(/img/morozki1.png);
    background-color: #849d8f;
}

#product-2:checked ~ .site-wrapper {
    background-image: url(/img/morozki2.png);
    background-color: #8996a6;
}

#product-3:checked ~ .site-wrapper {
    background-image: url(/img/morozki3.png);
    background-color: #9d8b84;
}

}
.slide-btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-control {
    position: absolute;
    left: 0;
    bottom: 22px;
    z-index: 20px;
    
    font-size: 0;
}

.slider-control label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

/*Слайдер-Конец*/

/*Акции*/

.index-columns {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.promotion-block {
    width: 560px;
}

.promotion-block-left {
    background-color: #be3256;
    background-image: url("/img/ras-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.promotion-block-right {
    background-color: #451700;
    background-image: url("/img/choko-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.promotions h3 {
    font-size: 35px;
    line-height: 41px;
}
.promotions p {
    font-size: 18px;
    font-weight: 700;
}

/*Акции-Конец*/

/*Хиты продаж*/

.bestsellers {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.bestseller-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.bestseller-item h3 {
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.bestseller-item-wrapper {
    width: 267px;
}
    
.bestseller-img-wrapper::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("/img/hit.svg");
}

.bestseller-item a {
    text-decoration: underline;
    color: #ffffff;
}

.bestseller-item a:hover,
.bestseller-item a:focus,
.bestseller-item a:active,
.blog-preview a:hover,
.blog-preview a:focus,
.blog-preview a:active {
    color: #ffbc9e;
}

.bestseller-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.bestseller-item-price span {
    font-size: 30px;
}

.bestseller-item-wrapper:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
}

/*Хиты продаж-Конец*/

/*Преимущества*/

.features {
    margin: 0;    
    margin-bottom: 40px;
    padding: 0;
    
    color: #323232;
    
    background-color: #ecdfc4;
    background-image: url("/img/waffle-background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.features h2 {
    line-height: 30px;
    font-weight: 500;
}

.features-list {
    display: flex;
    height: 215px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 18px 0;
    list-style: none;
}

.features-list li {
    width: 542px;
    min-height: 89px;
}

/*Преимущества-Конец*/

/*Блог*/

.blog-preview {
    width: 560px;
    
    color: #323232;
    
    background-color: #ffffff;
    background-image: url("/img/straw-background.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.blog-preview h2 {
    font-size: inherit;
    font-weight: 500;
}

.blog-preview a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
        
    color: #323232;
    text-decoration: underline;
}

/*Блог-Конец*/

/*Подписка*/

.subscribe {
    width: 560px;
    
    color: #5a5a5a;
    
    background-color: #f8f7f4;
    background-image: url("/img/post-background.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.subscribe [type="email"] {
    font-size: 16px;
}

/*Подписка-Конец*/

/*Карта*/
.map {
    width: 100%;    
}

.map .container {
    display: flex;
    justify-content: flex-end;
    height: 430px;
    
    background-image: url("/img/map.jpg");
    background-color: #ffffff;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.map-text-block {
    width: 302px;
    padding: 30px 25px;   
    margin-bottom: auto;
    
    color: #323232;
    
    background-color: #fefefe;
}

.map-text {
    font-size: 14px;
    line-height: 20px;
}

.map-text b {
    font-size: 18px;
    line-height: 24px;
}

/*Карта-Конец*/

/**********************Карточка товара**********************/

.inner-page .main-header {
    margin-bottom: 28px;
    padding-top: 9px;
}

.current-dropdown-item {
    background-color: #d07058;
}

.cart-full {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-full a {
    color: #323232;
}

.table-box {
    width: 540px;
    margin-right: 0;
    
    color: #323232;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.cart-table {
    font-size: 13px;
    line-height: 16px;
}

.cart-table a {
    font-size: 13px;
    line-height: 16px;

    background-color: transparent;
}

.paletext {
    color: #999999;
}

.cart-total-price {
    font-size: 15px;
    line-height: 18px;
}

/*Хлебные крошки*/


.breadcrumbs {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 220px;
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    
    color: #ffffff;
    
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs a {
    color: #ffffff;
    
    text-decoration: underline;
}

/*Хлебные крошки - Конец*/

.page-title {
    margin: 0;      
    padding: 0;
    
    font-size: 35px;
    line-height: 41px;
}

/*Фильтры*/

.filters {
    margin-bottom: 25px;
}

.filters-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-category {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter-category:first-of-type {
    width: 194px;
}

.filter-category:nth-of-type(2) {
    width: 220px;
}

.filter-category:nth-of-type(3) {
    width: 415px;
}

.filter-category:last-of-type {
    width: 703px;
}

.filters fieldset {
    border: none;
}

.filter-box {
    margin: 0;
    padding: 0;
    margin-bottom: 25;
    
    list-style: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    
    background-color: #9db1a5;
}

.filter-category select:hover,
.filter-category select:focus {
    color: #333333;
    
    background-color: #ffffff;
}

.filter-box .select-option {
    font-size: 14px;
    line-height: 16px;
}

.filter-btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
  
    background-color: #9db1a5;
    border: 2px solid #ffffff;
}
.filter-btn:hover,
.filter-btn:focus {
    color: #323232;
    
    background-color: #ffffff;
}    

.filter-btn:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
}

/*Фильтры - Конец*/

/*Каталог*/

.catalog {
    margin: 0;
    padding: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    
    list-style: none;
}

.catalog-item {
    width: 286.5px;
    margin: 0;
    padding: 0;   
}  

.catalog-item h3 {
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.catalog-item a {
    text-decoration: underline;
    color: #ffffff;
}
    
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
    color: #ffbc9e;
}

.catalog-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.catalog-item-price span {
    font-size: 30px;
}

.catalog-item-wrapper:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
}

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 190px;
    margin: 30px 0 35px auto;
    padding: 0; 
    
    list-style: none;
}
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.pagination-list a {
    color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: #ffffff;
    
    background-color: #9db1a5;    
}

.pagination-list a:active,
.pagination-item-current {
    color: #323232;
    
    background-color: #ffffff;
}

/*Каталог-Конец*/

/*Футер*/

.main-footer { 
    margin: 0;
    margin-top: 19px;
    padding: 0;
    
    color: #ffffff;
    
    background-color: #849d8f;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    width: 213px;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.social-btn img{
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(194,206,199,0.5);
}

.social-btn img:hover,
.social-btn img:focus {
    opacity: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(194,206,199,0.5);
}

.social-btn img:active {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 
        0 0 0 3px rgba(194,206,199,0.5),
        inset 0 2px 1px rgb(136,136,136);
}

.supplier-info {
    width: 327px;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.supplier-info a,
.footer-copyright a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: underline;
}

.supplier-info li:first-child {
    font-weight: 700;
}

.footer-copyright {
    margin: 0;
    padding: 0
    width: 190px;

    font-size: 12px;
    line-height: 16px;
}
/*Футер-Конец*/

/* Форма обратной связи*/
.modal-feedback {
    display: none;
    width: 478px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999999;

    background-color: #f8f7f4;  
}

.modal-feedback h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
}

.modal-feedback input,
.modal-feedback textarea {
    font-size: 16px;   
}

