body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    
    background-color: #849d8f;
    background-image: url(img/morozki1.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    background: #849d8f;
}

/* ОБщие свойства*/
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.field { /*общие параметры форм*/
    font-size: 14px;
    line-height: 24px;
    color: #999999;
        
    background-color: #ffffff;
    border: 1px solid rgba(178,178,178,0.52);
}

.field:hover {
    border: 2px solid rgba(178,178,178,0.52);
}
.field:focus {
    border: 2px solid rgba(46,136,228,0.52);
}

.btn {
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    font-weight: 700;

    text-align: center;
    color: #fefefe;
    vertical-align: middle;
  
    background-color: #ef6140;
    border: none;
    box-shadow: 0 2px 2px rgba(172,16,0,0.64);
    background: linear-gradient(to top, #e74a35, #f26843);
}

.btn:hover,
.btn:focus {
    background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn:active {
    background: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px rgb(148,39,24);
}

/* ОБщие свойства-конец*/

/*Шапка*/

.main-nav { /*фон и шрифт*/
    color: #ffffff;
    
    background-color: #849d8f;
}

.main-nav a {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #333333;
    
    background-color: #f7f6f3;
}

.site-nav a:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px rgba(105, 105, 105, 0);
}
 
.main-dropdown {
    font: inherit;
    color: #333333;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400px;
    
    background-color: #f8f7f4;
    
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.main-dropdown a {
    font: inherit;
    color: #333333;
    
}

.main-dropdown a:hover {
    background-color: #fbded7;
}

.main-dropdown a:active {
    background-color: #f6b5a5;
}

.main-dropdown .special {
    font-weight: bold;
}

.search a,
.user-nav a,
.cart a {
    background-color: #a1b4a9;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
}

.search a:hover,
.search a:focus,
.user-nav a:hover,
.user-nav a:focus,
.cart a:hover,
.cart a:focus {
    color: #333333;
    
    background-color: #f8f7f4;
}

.search form, 
.user-block form {
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}
.login-btn {
    text-align: right;
}

.reg-links a{
    font: inherit;
    font-size: 13px;
    line-height: 24px;
    color: #323232; 
    background-color: transparent;
    
    text-decoration: underline;
}

.customer-info {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
}

/*Шапка-Конец*/

/*Слайдер*/

.slide h3 {
    font-size: 60px;
    line-height: 60.35spx;
    font-weight: 700;
        
    text-align: center;
    
}

.slide-btn {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

/*Слайдер-Конец*/

/*Акции*/

.promotion-block-left {
    background-color: #be3256;
    background-image: url("img/ras-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.promotion-block-right {
    background-color: #451700;
    background-image: url("img/choko-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.promotions h3 {
    font-size: 35px;
    line-height: 41px;
}
.promotions p {
    font-size: 18px;
    font-weight: 700;
}

/*Акции-Конец*/

/*Хиты продаж*/

.bestseller-item h3 {
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.bestseller-item a {
    text-decoration: underline;
    color: #ffffff;
}
    
.bestseller-img-wrapper::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("img/hit.svg");
    
}

.bestseller-item a:hover,
.bestseller-item a:focus,
.bestseller-item a:active,
.blog-preview a:hover,
.blog-preview a:focus,
.blog-preview a:active {
    color: #ffbc9e;
}

.bestseller-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.bestseller-item-price span {
    font-size: 30px;
}

.bestseller-item-wrapper:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
}

/*Хиты продаж-Конец*/

/*Преимущества*/

.features {
    color: #323232;
    
    background-color: #ecdfc4;
    background-image: url("img/waffle-background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.features h2 {
    line-height: 30px;
    font-weight: 500;
}

/*Преимущества-Конец*/

/*Блог*/
.blog-preview {
    color: #323232;
    
    background-color: #ffffff;
    background-image: url("img/straw-background.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.blog-preview h2 {
    font-size: inherit;
    font-weight: 500;
}

.blog-preview a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
        
    color: #323232;
    text-decoration: underline;
}

/*Блог-Конец*/

/*Подписка*/

.subscribe {
    color: #5a5a5a;
    
    background-color: #f8f7f4;
    background-image: url("img/post-background.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.subscribe [type="email"] {
    font-size: 16px;
}

/*Подписка-Конец*/

/*Карта*/

.map .container {
    background-image: url(" img/map.jpg");
    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
}

.map-text-block {
    color: #323232;
    
    background-color: #fefefe;
}

.map-text {
    font-size: 14px;
    line-height: 20px;
}

.map-text b {
    font-size: 18px;
    line-height: 24px;
}
/*Карта-Конец*/





/**********************Карточка товара**********************/

.current-dropdown-item {
    background-color: #d07058;
}

.cart-full a {
    color: #323232;
}

.table-box {
    color: #323232;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.cart-table {
    font-size: 13px;
    line-height: 16px;
}

.cart-table a {
    font-size: 13px;
    line-height: 16px;

    background-color: transparent;
}

.paletext {
    color: #999999;
}

.cart-total-price {
    font-size: 15px;
    line-height: 18px;
    
}

/*Хлебные крошки*/


.breadcrumbs {
    color: #ffffff;
    
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs a {
    color: #ffffff;
    
    text-decoration: underline;
}

/*Хлебные крошки - Конец*//*Хлебные крошки - Конец*/


.page-title {
    font-size: 35px;
    line-height: 41px;
}

/*Фильтры*/
.filter-category {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filters fieldset {
    border: none;
}

.filter-box {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    
    background-color: #9db1a5;
}

.filter-category select:hover,
.filter-category select:focus {
    color: #333333;
    
    background-color: #ffffff;
}

.filter-box .select-option {
    font-size: 14px;
    line-height: 16px;
}

.filter-btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
  
    background-color: #9db1a5;
    border: 2px solid #ffffff;
}
.filter-btn:hover,
.filter-btn:focus {
    color: #323232;
    
    background-color: #ffffff;
}    

.filter-btn:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
}

/*Фильтры - Конец*/

/*Каталог*/

.catalog-item h3 {
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.catalog-item a {
    text-decoration: underline;
    color: #ffffff;
}
    
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
    color: #ffbc9e;
}

.catalog-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.catalog-item-price span {
    font-size: 30px;
}

.catalog-item-wrapper:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
}

.pagination-list {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.pagination-list a {
    color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: #ffffff;
    
    background-color: #9db1a5;    
}

.pagination-list a:active,
.pagination-item-current {
    color: #323232;
    
    background-color: #ffffff;
}

/*Каталог-Конец*/











/*Футер*/
.main-footer { /*фон и шрифт*/
    color: #ffffff;
    
    background-color: #849d8f;
}

.social-btn img{
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(194,206,199,0.5);
}

.social-btn img:hover,
.social-btn img:focus {
    opacity: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(194,206,199,0.5);
}

.social-btn img:active {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 
        0 0 0 3px rgba(194,206,199,0.5),
        inset 0 2px 1px rgb(136,136,136);
}

.supplier-info a,
.footer-copyright a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: underline;
}

.supplier-info li:first-child {
    font-weight: 700;
}

.footer-copyright {
    font-size: 12px;
    line-height: 16px;
}
/*Футер-Конец*/

/* Форма обратной связи*/
.modal-feedback {
  color: #999999;

  background-color: #f8f7f4;  
}

.modal-feedback h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
}

.modal-feedback input,
.modal-feedback textarea {
    font-size: 16px;   
}